.color-gradient {
   display: flex;
   align-items: flex-start;
   padding: 100px;
   box-sizing: border-box;
   border-radius: 5px;
   border: 2px dashed grey;

   .overlay {
      position: absolute;
      z-index: -1;
      width: 400px;
      height: 400px;
      background: pink;
   }

   .color {
      border: 1px solid #000;
      div {
         width: 16px;
         height: 16px;
         border: 1px solid #fff;
      }
   }

   canvas:hover {
      cursor: url('../assets/colorGradientCursor.png') 10 10, auto;
   }

   .slider-wrapper {
      display: inline-block;
      width: 20px;
      height: 200px;
      padding: 0;

      input {
         width: 200px;
         height: 20px;
         margin: 0;
         transform-origin: 100px 100px;
         transform: rotate(-90deg);
      }
   }
}