.color-gradient {
   display: flex;
   align-items: flex-start;

   canvas:hover {
      cursor: url('../assets/colorGradientCursor.png') 10 10, auto;
   }

   .slider-wrapper {
      display: inline-block;
      width: 20px;
      height: 200px;
      padding: 0;

      input {
         width: 200px;
         height: 20px;
         margin: 0;
         transform-origin: 100px 100px;
         transform: rotate(-90deg);
      }
   }
}