.hue-gradient {
   display: flex;
   align-items: flex-start;
   background: lightgrey;

   .overlay {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100vw;
      height: 100vh;
      cursor: $circleCursor;
      background: pink;
      opacity: 0.5;
   }

   .color {
      border: 1px solid #000;
      div {
         width: 1em;
         height: 1em;
         border: 1px solid #fff;
      }
   }

   canvas:hover {
      cursor: $circleCursor;
   }

   .slider-wrapper {
      display: inline-block;
      width: 20px;
      height: 200px;
      padding: 0;

      input {
         width: 200px;
         height: 20px;
         margin: 0;
         transform-origin: 100px 100px;
         transform: rotate(-90deg);
      }
   }

   .hue {
      width: 1em;
      height: 200px;
      background: colorGradient(0deg);
   }
}