%sliderWidth {
   width: 180px;
}

.lab-sliders {
   display: flex;
   align-items: flex-start;
   background: lightgrey;

   .color {
      border: 1px solid #000;
      div {
         width: 1em;
         height: 1em;
         border: 1px solid #fff;
      }
   }

   .sliders {
      display: flex;
      flex-direction: column;

      > div {
         display: flex;
         flex-direction: column;
         margin: 4px 0;
      }

      .l-gradient, .a-gradient, .b-gradient {
         @extend %sliderWidth;
         height: 0.5em;
         background: pink;
      }

      .slider {
         @extend %sliderWidth;
      }
   }
}