// Variables
$white: #fff;

// Sketcher Component
.sketcher {
  display: flex;
  background: #e4e4e4;

  .tool-menu {
    background: #c0d6ff;
    
    > li {  // Icons
      margin: 4px 4px 0 4px;
      padding: 10px;
      box-sizing: border-box;
      border: 2px solid transparent;
      border-radius: 3px;
      color: #f0f0f0;
      background: rgb(182, 137, 144);
      cursor: pointer;

      &:hover {
        border-color: $white;
      }
    }
  }

  .tool-customize-menu {
    background: rgb(255, 215, 192);
  }

  canvas {
    border: 2px solid gray;
    border-radius: 5px;
    background: $white;
  }
}