// Variables
$white: #fff;

// Sketcher Component
.sketcher {
  // display: flex;
  background: #e4e4e4;

  .tool-customize-menu {
    background: #ffd7c0;
  }

  .tools-canvas {
    display: flex;

    .tool-menu {
      display: flex;
      flex-direction: column;
      background: #c0d6ff;
      
      > li {  // Icons
        margin: 4px 4px 0 4px;
        padding: 10px;
        box-sizing: border-box;
        border: 2px solid transparent;
        border-radius: 3px;
        color: #f0f0f0;
        background: #b68990;
        cursor: pointer;
  
        &:hover {
          border-color: $white;
        }
      }
    }
  }
}