// Variables
$white: #fff;


.sketcher {
  display: flex;
  background: #f3f3f3;

  .container {
    border: 2px solid gray;
    background: #e4e4e4;
  }

  .tool-customize-menu {
    background: #ffd7c0;
  }

  .tools-canvas {
    display: flex;

    .tool-menu {
      display: flex;
      flex-direction: column;
      padding: 4px;
      box-sizing: border-box;
      background: #c0d6ff;
      
      > li {  // Icons
        margin: 0 0 4px 0;
        padding: 15px;
        box-sizing: border-box;
        border: 2px solid transparent;
        border-radius: 3px;
        color: #f0f0f0;
        background: #b68990;
        cursor: pointer;
  
        &:hover {
          border-color: $white;
        }
      }
    }
  }
}