body {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   text-align: center;
}
 
ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
   background: #ff0000;
}

input {
   outline: none;
}