.sketcher {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #e4e4e4;

  .tool-menu {
    background: #c0d6ff;
    
    > li i {  // Icons
      margin: 4px 4px 0 4px;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 3px;
      cursor: pointer;
      background: pink;
    }
  }

  .tool-customize-menu {
    background: rgb(255, 215, 192);
  }
}