/* -------------------------- */
/*  HELPERS                   */
/* -------------------------- */
/* -------------------------- */
/*  BASE                      */
/* -------------------------- */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

input {
  outline: none;
  margin: 0; }

/* -------------------------- */
/*  MODULES                   */
/* -------------------------- */
.focus-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: #c0d9ff;
  opacity: 0.5; }

/* -------------------------- */
/*  COMPONENTS                */
/* -------------------------- */
.hue-gradient {
  display: flex;
  align-items: flex-start;
  background: lightgrey; }
  .hue-gradient .focus-overlay {
    cursor: url("../assets/circleCursor.png") 10 10, auto; }
  .hue-gradient .color {
    border: 1px solid #000; }
    .hue-gradient .color div {
      width: 1em;
      height: 1em;
      border: 1px solid #fff; }
  .hue-gradient canvas:hover {
    cursor: url("../assets/circleCursor.png") 10 10, auto; }
  .hue-gradient .slider-wrapper {
    display: inline-block;
    width: 20px;
    height: 200px;
    padding: 0; }
    .hue-gradient .slider-wrapper input {
      width: 200px;
      height: 20px;
      margin: 0;
      transform-origin: 100px 100px;
      transform: rotate(-90deg); }
  .hue-gradient .hue {
    width: 1em;
    height: 200px;
    background: linear-gradient(0deg, red, yellow, lime, cyan, blue, magenta, red); }

.hsl-sliders .sliders .gradient,
.cmyk-sliders .sliders .gradient,
.rgb-sliders .sliders .gradient,
.lab-sliders .sliders .gradient, .hsl-sliders .sliders .slider,
.cmyk-sliders .sliders .slider,
.rgb-sliders .sliders .slider,
.lab-sliders .sliders .slider {
  width: 180px; }

.hsl-sliders,
.cmyk-sliders,
.rgb-sliders,
.lab-sliders {
  display: flex;
  align-items: flex-start;
  background: lightgrey; }
  .hsl-sliders .color,
  .cmyk-sliders .color,
  .rgb-sliders .color,
  .lab-sliders .color {
    border: 1px solid #000; }
    .hsl-sliders .color div,
    .cmyk-sliders .color div,
    .rgb-sliders .color div,
    .lab-sliders .color div {
      width: 1em;
      height: 1em;
      border: 1px solid #fff; }
  .hsl-sliders .sliders,
  .cmyk-sliders .sliders,
  .rgb-sliders .sliders,
  .lab-sliders .sliders {
    display: flex;
    flex-direction: column; }
    .hsl-sliders .sliders > div,
    .cmyk-sliders .sliders > div,
    .rgb-sliders .sliders > div,
    .lab-sliders .sliders > div {
      display: flex;
      flex-direction: column;
      margin: 4px 0; }
    .hsl-sliders .sliders .gradient,
    .cmyk-sliders .sliders .gradient,
    .rgb-sliders .sliders .gradient,
    .lab-sliders .sliders .gradient {
      height: 0.5em;
      background: pink; }
