/* -------------------------- */
/*  HELPERS                   */
/* -------------------------- */
/* -------------------------- */
/*  BASE                      */
/* -------------------------- */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

input {
  outline: none;
  margin: 0; }

/* -------------------------- */
/*  MODULES                   */
/* -------------------------- */
/* -------------------------- */
/*  COMPONENTS                */
/* -------------------------- */
.hue-gradient {
  display: flex;
  align-items: flex-start;
  background: lightgrey; }
  .hue-gradient .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    cursor: url("../assets/circleCursor.png") 10 10, auto;
    background: pink;
    opacity: 0.5; }
  .hue-gradient .color {
    border: 1px solid #000; }
    .hue-gradient .color div {
      width: 1em;
      height: 1em;
      border: 1px solid #fff; }
  .hue-gradient canvas:hover {
    cursor: url("../assets/circleCursor.png") 10 10, auto; }
  .hue-gradient .slider-wrapper {
    display: inline-block;
    width: 20px;
    height: 200px;
    padding: 0; }
    .hue-gradient .slider-wrapper input {
      width: 200px;
      height: 20px;
      margin: 0;
      transform-origin: 100px 100px;
      transform: rotate(-90deg); }
  .hue-gradient .hue {
    width: 1em;
    height: 200px;
    background: linear-gradient(0deg, red, yellow, lime, cyan, blue, magenta, red); }

.hsl-sliders .sliders .h-gradient, .hsl-sliders .sliders .s-gradient, .hsl-sliders .sliders .l-gradient, .hsl-sliders .sliders .slider, .rgb-sliders .sliders .r-gradient, .rgb-sliders .sliders .g-gradient, .rgb-sliders .sliders .b-gradient, .rgb-sliders .sliders .slider, .cmyk-sliders .sliders .c-gradient, .cmyk-sliders .sliders .m-gradient, .cmyk-sliders .sliders .y-gradient, .cmyk-sliders .sliders .k-gradient, .cmyk-sliders .sliders .slider, .lab-sliders .sliders .r-gradient, .lab-sliders .sliders .g-gradient, .lab-sliders .sliders .b-gradient, .lab-sliders .sliders .slider {
  width: 180px; }

.hsl-sliders {
  display: flex;
  align-items: flex-start;
  background: lightgrey; }
  .hsl-sliders .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: #c0e8ff;
    opacity: 0.5; }
  .hsl-sliders .color {
    border: 1px solid #000; }
    .hsl-sliders .color div {
      width: 1em;
      height: 1em;
      border: 1px solid #fff; }
  .hsl-sliders .sliders {
    display: flex;
    flex-direction: column; }
    .hsl-sliders .sliders > div {
      display: flex;
      flex-direction: column;
      margin: 4px 0; }
    .hsl-sliders .sliders .h-gradient, .hsl-sliders .sliders .s-gradient, .hsl-sliders .sliders .l-gradient {
      height: 0.5em;
      background: pink; }

.hsl-sliders .sliders .h-gradient, .hsl-sliders .sliders .s-gradient, .hsl-sliders .sliders .l-gradient, .hsl-sliders .sliders .slider, .rgb-sliders .sliders .r-gradient, .rgb-sliders .sliders .g-gradient, .rgb-sliders .sliders .b-gradient, .rgb-sliders .sliders .slider, .cmyk-sliders .sliders .c-gradient, .cmyk-sliders .sliders .m-gradient, .cmyk-sliders .sliders .y-gradient, .cmyk-sliders .sliders .k-gradient, .cmyk-sliders .sliders .slider, .lab-sliders .sliders .r-gradient, .lab-sliders .sliders .g-gradient, .lab-sliders .sliders .b-gradient, .lab-sliders .sliders .slider {
  width: 180px; }

.rgb-sliders {
  display: flex;
  align-items: flex-start;
  background: lightgrey; }
  .rgb-sliders .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: #c0ffce;
    opacity: 0.5; }
  .rgb-sliders .color {
    border: 1px solid #000; }
    .rgb-sliders .color div {
      width: 1em;
      height: 1em;
      border: 1px solid #fff; }
  .rgb-sliders .sliders {
    display: flex;
    flex-direction: column; }
    .rgb-sliders .sliders > div {
      display: flex;
      flex-direction: column;
      margin: 4px 0; }
    .rgb-sliders .sliders .r-gradient, .rgb-sliders .sliders .g-gradient, .rgb-sliders .sliders .b-gradient {
      height: 0.5em;
      background: pink; }

.hsl-sliders .sliders .h-gradient, .hsl-sliders .sliders .s-gradient, .hsl-sliders .sliders .l-gradient, .hsl-sliders .sliders .slider, .rgb-sliders .sliders .r-gradient, .rgb-sliders .sliders .g-gradient, .rgb-sliders .sliders .b-gradient, .rgb-sliders .sliders .slider, .cmyk-sliders .sliders .c-gradient, .cmyk-sliders .sliders .m-gradient, .cmyk-sliders .sliders .y-gradient, .cmyk-sliders .sliders .k-gradient, .cmyk-sliders .sliders .slider, .lab-sliders .sliders .r-gradient, .lab-sliders .sliders .g-gradient, .lab-sliders .sliders .b-gradient, .lab-sliders .sliders .slider {
  width: 180px; }

.cmyk-sliders {
  display: flex;
  align-items: flex-start;
  background: lightgrey; }
  .cmyk-sliders .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: #dbc0ff;
    opacity: 0.5; }
  .cmyk-sliders .color {
    border: 1px solid #000; }
    .cmyk-sliders .color div {
      width: 1em;
      height: 1em;
      border: 1px solid #fff; }
  .cmyk-sliders .sliders {
    display: flex;
    flex-direction: column; }
    .cmyk-sliders .sliders > div {
      display: flex;
      flex-direction: column;
      margin: 4px 0; }
    .cmyk-sliders .sliders .c-gradient, .cmyk-sliders .sliders .m-gradient, .cmyk-sliders .sliders .y-gradient, .cmyk-sliders .sliders .k-gradient {
      height: 0.5em;
      background: pink; }

.hsl-sliders .sliders .h-gradient, .hsl-sliders .sliders .s-gradient, .hsl-sliders .sliders .l-gradient, .hsl-sliders .sliders .slider, .rgb-sliders .sliders .r-gradient, .rgb-sliders .sliders .g-gradient, .rgb-sliders .sliders .b-gradient, .rgb-sliders .sliders .slider, .cmyk-sliders .sliders .c-gradient, .cmyk-sliders .sliders .m-gradient, .cmyk-sliders .sliders .y-gradient, .cmyk-sliders .sliders .k-gradient, .cmyk-sliders .sliders .slider, .lab-sliders .sliders .r-gradient, .lab-sliders .sliders .g-gradient, .lab-sliders .sliders .b-gradient, .lab-sliders .sliders .slider {
  width: 180px; }

.lab-sliders {
  display: flex;
  align-items: flex-start;
  background: lightgrey; }
  .lab-sliders .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: #f6ffc0;
    opacity: 0.5; }
  .lab-sliders .color {
    border: 1px solid #000; }
    .lab-sliders .color div {
      width: 1em;
      height: 1em;
      border: 1px solid #fff; }
  .lab-sliders .sliders {
    display: flex;
    flex-direction: column; }
    .lab-sliders .sliders > div {
      display: flex;
      flex-direction: column;
      margin: 4px 0; }
    .lab-sliders .sliders .r-gradient, .lab-sliders .sliders .g-gradient, .lab-sliders .sliders .b-gradient {
      height: 0.5em;
      background: pink; }
