/*  Base  */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ff0000; }

input {
  outline: none; }

/*  Components  */
.color-gradient {
  display: flex;
  align-items: flex-start;
  background: lightgrey; }
  .color-gradient .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    cursor: url("../assets/colorGradientCursor.png") 10 10, auto;
    background: pink;
    opacity: 0.5; }
  .color-gradient .color {
    border: 1px solid #000; }
    .color-gradient .color div {
      width: 1em;
      height: 1em;
      border: 1px solid #fff; }
  .color-gradient canvas:hover {
    cursor: url("../assets/colorGradientCursor.png") 10 10, auto; }
  .color-gradient .slider-wrapper {
    display: inline-block;
    width: 20px;
    height: 200px;
    padding: 0; }
    .color-gradient .slider-wrapper input {
      width: 200px;
      height: 20px;
      margin: 0;
      transform-origin: 100px 100px;
      transform: rotate(-90deg); }
  .color-gradient .hue {
    width: 1em;
    height: 200px;
    background-image: linear-gradient(0deg, red, yellow, lime, cyan, blue, magenta, red); }

.sketcher {
  display: flex;
  background: #f3f3f3; }
  .sketcher .container {
    border: 2px solid gray;
    background: #e4e4e4; }
  .sketcher .tool-customize-menu {
    background: #ffd7c0; }
  .sketcher .tools-canvas {
    display: flex; }
    .sketcher .tools-canvas .tool-menu {
      display: flex;
      flex-direction: column;
      padding: 4px;
      box-sizing: border-box;
      background: #c0d6ff; }
      .sketcher .tools-canvas .tool-menu > li {
        margin: 0 0 4px 0;
        padding: 15px;
        box-sizing: border-box;
        border: 2px solid transparent;
        border-radius: 3px;
        color: #f0f0f0;
        background: #b68990;
        cursor: pointer; }
        .sketcher .tools-canvas .tool-menu > li:hover {
          border-color: #fff; }
